html body {
  background-color: #000; 
  text-align: center;
}

.logo {
   margin: 20px auto;
}

.instructions {
  color: #fff;
  margin-top: 5%;
}

.grid {
  margin: 0 auto;
}

.form {
  margin: 15px auto 20px auto;
}

.row {
  margin: 0;
  padding: 0;
  height: 38px;
  color: #EEE;
}

.row0 {
  color : #33F
}

.row1 {
  color : #C00
}

.row2 {
  color : #70A
}

.row3 {
  color : #F70
}

.row4 {
  color : #3F6
}

.row5 {
  color : #FF0
}

.row6 {
  color : #0FF
}

.row7 {
  color : #F9C
}

.cell {
  margin: 4px;
  background-color: #000;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.grid.is_visible .cell {
  outline: #222 1px solid;
  background-color: #DDD;
}

.grid.is_visible .cell:hover, .grid.is_visible .cell.active:hover {
  background-color: #333;
}

.grid.is_visible .cell.active {
  background-color: #888;
}

.cell span {
  display: inline-block;
  margin: 4px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

#bar {
  position: absolute;
  height: 100%;
  width: 140px;
  top: 0;
  right: 0;
  margin: 0;
  padding: 10px 5px;
  background: #222;
  border-left: 1px solid #444;
  color: #DDD;
}

#bar a {
  color: #DDD;
  display: inline-block;
  background: #444;
  width: 100px;
  padding: 5px 0;
  outline: 1px solid #666;
  margin: 5px auto;
}

#bar a:hover {
  cursor: pointer;
  text-decoration: none;
  outline: 2px solid #AAA;
}

#bar .bottom {
  position: absolute;
  bottom: 10px;
}

.help {
  position: absolute;
  bottom: 55px;
  min-height: 200px;
  width: 40%;
  right: 140px;
  padding: 20px 20px;
  background: #222;
  border: 1px solid #444;
  border-right: none;
  color: #DDD;
  text-align: left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

