html body {
  background-color: #000; 
  text-align: center;
}

.logo {
   margin: 20px auto;
}

.instructions {
  color: #fff;
  margin-top: 5%;
}

.grid {
  margin: 0 auto;
}

.form {
  margin: 15px auto 20px auto;
}

.row {
  margin: 0;
  padding: 0;
  height: 38px;
}

.cell {
  margin: 4px;
  background-color: #000;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.grid.is_visible .cell {
  outline: #222 1px solid;
  background-color: #DDD;
}

.grid.is_visible .cell:hover, .grid.is_visible .cell.active:hover {
  background-color: #333;
}

.grid.is_visible .cell.active {
  background-color: #888;
}

.cell span {
  display: inline-block;
  margin: 4px;
  font-size: 18px;
  text-align: center;
  color: #EEE;
  font-weight: bold;
}

#bar {
  position: absolute;
  height: 100%;
  width: 140px;
  top: 0;
  right: 0;
  margin: 0;
  padding: 20px 5px;
  background: #222;
  border-left: 1px solid #444;
  color: #DDD;
}

#bar a {
  color: #DDD;
  display: inline-block;
  background: #444;
  width: 100px;
  padding: 5px 0;
  outline: 1px solid #666;
  margin: 5px auto;
}

#bar a:hover {
  cursor: pointer;
  text-decoration: none;
  outline: 2px solid #AAA;
}
