html body {
  background-color: #000; 
  text-align: center;
}

.instructions {
  color: #fff;
  margin-top: 10%;
}

.form, .grid {
  margin: 0 auto;
}

.row {
  margin: 0;
  padding: 0;
  height: 38px;
}

.cell {
  margin: 2px;
  border: #222 1px solid;
  background-color: #DDD;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.cell:hover, .cell.active:hover {
  background-color: #333;
}

.cell.active {
  background-color: #888;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
