<!doctype html>
<html>
<head>
  <title>Primix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="./css/main.css" rel="stylesheet" />
</head>
<body ng-app ng-controller="GlobalCtrl">
<div class="form">
  <input type="text" name="number" size="40"/>
</div>
<div class="grid" ng-controller="GridCtrl" ng-show="$parent.isGridVisible">
  <div class="row row{{ $index }}" ng-repeat="row in grid">
    <div class="cell col{{ $index }}'" ng-repeat="cell in row"
         ng-click="$parent.$parent.onCellClick(cell.row,cell.col)"
         ng-class="{active: cell.active}">

    </div>
  </div>
</div>
<footer>
<a ng-click="toggleGrid()">Toggle Grid</a>
</footer>
<script src="./js/jquery-2.0.3.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/angular.min.js"></script>
<script src="./js/prime.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
