.form, .grid {
  text-align: center;
  margin: 0 auto;
}

.row {
  margin: 0;
  padding: 0;
  height: 38px;
}

.cell {
  margin: 2px;
  border: #222 1px solid;
  background-color: #DDD;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.cell:hover, .cell.active:hover {
  background-color: #666;
}

.cell.active {
  background-color: #AAA;
}

